td {
	border:  2px solid #fff;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
  cursor: pointer;
  color:#ffffff;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.cell{
  width: 165px;
  height: 165px;
  margin: 10px;
  font-size: 100px;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  text-align: center;
  line-height: 200px;
}

#main{
  margin-top: 0px;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  background-color: black;
  margin-left: 700px;

  padding-top: 250px;
}

table {
  width: 460px;
  height: 460px;
  float: left;
  position: relative;
  margin-left: 325px;
}

/* img {
  max-width: 50%;
  vertical-align: middle;
  border-style: none; } */

#container {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0px; }
  #container #sidebar_wrap {
    margin-top: 200px;
    width: 35%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; }

#newgame {
  background-color: #52d29d;
  border: none;
  padding: 13px 26px;
  border-radius: 2px;
  color: #fff;
  /* font-family: 'Gloria Hallelujah', cursive; */
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  margin-top: 10px; }

#sidebar .field {
  margin-bottom: 30px; }
  #sidebar .field ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    overflow: hidden;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; }
    #sidebar .field ul li {
      float: left;
      padding: 10px 15px;
      border-right: 1px solid #8c8c8c;
      cursor: pointer;
      color: #8c8c8c; }
      #sidebar .field ul li:hover {
        background-color: #b7b7b7;
        color: #fff; }
      #sidebar .field ul li.active {
        background-color: #8c8c8c;
        color: #fff; }
      #sidebar .field ul li:last-child {
        border-right: none; }
  #sidebar .field .starting_player_choices ul li {
    width: 50%;
    text-align: center; }
  #sidebar .field .modes_choices ul li {
    width: 50%;
    text-align: center; }
  #sidebar .field label {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 15px;
    display: block; }







