html, body {overflow: hidden}

* {
  box-sizing: border-box; }

td {
	border:  3px solid #fff;
  border-style: groove;
/* 	height:  100px;
	width:  100px; */
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
  cursor: pointer;
  color:#ffffff;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.cell{
  width: 9vw;
  height: 4vh;
  /* margin: 10px; */
  font-size: 6vw;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  text-align: center;
  line-height: 20vh;
}

.winCol {
  color: #52a2b3;
}

table {
/*   width: 460px;
  height: 460px;
  float: left;
  position: relative;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center; */

  /* height: 50%; */
  display: flex;
  background-color: #303133;
  justify-content: center;
}

.message {
  font-size: 2vw;
  color: #ffffff;
  padding-top: 10vh;
  padding-bottom: 5vh; 
  text-align: center;
  font-family:'Permanent Marker', cursive;
}

/* img {
  max-width: 50%;
  vertical-align: middle;
  border-style: none; } */

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0px; 
  margin: 0px auto;
  background-color: #8a676e;
  background-image: url("white.jpg");}
  #container #sidebar_wrap {
    width: 35%;
    height: 100%;
    float: left;
    display: flex;
    margin-top: 20vh; 
    /* align-items: center; */
    justify-content: center;
    /* background-color: #ffffff; */
     }
  #container #main{
    width: 65%;
    height: 100%;
    display: flex;
    background-color: #303133;
    justify-content: center;
}

#newgame {
  background-color: #52a2b3;
  border: none;
  padding: 1.5vh 1.5vw;
  /* padding: 13px 26px; */
  border-radius: 1vw;
  color: #e4e4eb;
  font-family: 'Merienda One', cursive;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2vw;
  color: whitesmoke;
  width: 100%;
  margin-top: 2vh; }

#sidebar .field {
  width: 18vw;
  margin-bottom: 3vh; }
  #sidebar .field ul {
    margin: 0px auto;
    padding: 0px;
    list-style: none;
    border: 0.1vw solid #303133;
    /* border-radius: 0.05vw; */
    overflow: hidden;
    font-size: 1vw;
    font-family: 'Merienda One', cursive; }
    #sidebar .field ul li {
      float: left;
      padding: 1vh 1vw;
      /* padding: 10px 15px; */
      border-right: 0.1vw solid #303133;
      cursor: pointer;
      color: #303133; }
      #sidebar .field ul li:hover {
        background-color: #303133;
        color: #e4e4eb; }
      #sidebar .field ul li.active {
        background-color: #5c5758;
        color: #e4e4eb; }
      #sidebar .field ul li:last-child {
        border-right: none; }
  #sidebar .field .starting_player_choices ul li {
    width: 50%;
    text-align: center; }
  #sidebar .field .modes_choices ul li {
    width: 50%;
    text-align: center; }
  #sidebar .field .depth_choices ul li {
    width: 14.286%;
    text-align: center; }
  #sidebar .field label {
    font-weight: 800;
    font-size: 1.15vw;
    margin-bottom: 1vh;
    display: block;
    font-family: 'Merienda One', cursive;
    color: #1685a1; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

/* @media screen and (max-width: 640px) {

  #container {
    width: 100%;
    height: 100%;
  }
  #container #sidebar_wrap {
    width: 35%;
  }
  #container #main {
    width: 65%;
  }
}
 */


